@font-face {
  font-family: "Segoe WP";
  src: url("../fonts/SegoeWP.ttf");
  src: url("../fonts/segoe-wp-light.ttf");
  font-weight: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "Asap";
  src: url("../fonts/Asap-Regular.otf");
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.ttf");
}
@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSansNarrow-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

/* General */
* {
  margin: 0;
  padding: 0;
}
.outer-wrapper {
  max-width: 1300px;
  min-width: 1299px;
  margin: 0 auto; 
}
.inner-wrapper {
  max-width: 1020px;
  min-width: 1019px;
  margin: 0 auto;
}

/* Side buttons */
.next-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1300px;
  top: 300px;
}
.next-buttons > a {
  height: 56px;
  width: 32px;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #F5C506;
}
.next-buttons > a:hover {
  background: #37ADBF;
  color: #F5C506;
}

/* Header  */
.header-section {
  height: 566px;
  background-image: url("../img/head-section-bg.png"); 
  box-shadow: inset 0px -3px 3px 0px rgba(0,0,0,0.75);
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 56px;
}

/* Logo  */
.logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 28px;
}
.logo-picture {
  position: relative;
  width: 83px;
  height: 83px;
}
.logo-picture > img {
  width: 83px;
  height: 83px; 
}
.logo-pic-1 {
  position: absolute;
  z-index: 2;
}
.logo-pic-2 {
  z-index: 4;
}
.logo-section > h1 {
  margin: 9px 0 0 0px;
  font-family: "Lucida Sans", sans-serif;
  font-size: 41px;
  font-style: italic;
  color: #ffffff; 
}

/* Navigation */
.nav-bar {
  align-self: flex-end;
  width: 453px;
  height: 41px;
  background-color: #F5C506; 
  box-shadow: -4px -5px 0px 0px rgba(246,197,6,0.27), -8px -8px 0px 0px rgba(246,197,6,0.27);
}
.nav-bar > ul {
  display: flex;
  height: 41px;
  list-style: none; 
}
.nav-bar > ul > li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar > ul > li:nth-of-type(2) {
  border-right: 1px solid #9b7d08;
  border-left: 1px solid #9b7d08;
}
.nav-bar > ul > li:hover {
  background: #fff;
}
.nav-bar ul li > img {
  margin-right: 8px;
}
.nav-bar ul li > a {
  font-family: "Segoe WP", sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #9b7d08;
}

/* Video section */
.video-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 10px 0;
}
.video-block {
  width: 549px;
  height: 327px;
}
.video-block > video {
  width: 100%;
  height: 100%;
}
.video-text {
  width: 451px;
  padding-bottom: 24px;
  padding-left: 12px;
}
.video-text > h2 {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-size: 63px;
  text-align: center;
  letter-spacing: 1px;
}
.video-text > h2:nth-of-type(1)  {
  color: #f5c506;
}
.video-text > h2:nth-of-type(2) {
  color: #fff;
}

/* Options */
.options-section {
  height: 212px;
  background-image: url("../img/options-section-bg.png"); 
}
.options {
  display: flex;
  align-content: center;
  width: 100%;
  height: 212px;
}
.options-wrapper {
  flex-grow: 1;
  display: flex;  
  justify-content: center;
  width: 100%;
  border-left: 1px solid #D1D1D1;
}
.options > div:last-of-type {
  border-right: 1px solid #D1D1D1;
}
.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options p {
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
  font-size: 27px;
  text-align: center;
  color: #000000;
}

/* About */
.about-section {
  height: 508px;
  background-image: url("../img/about-section-bg.png"); 
  box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.75);
}
.about {
  width: 100%;
}
.about > h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 37px;
  line-height: 110px;
  color: #ffffff;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 233px;
}
.about-text-video {
  display: flex;  
  width: 656px;
}
.about-text {
  display: flex;
  width: 341px;
  padding: 14px;
  background-color: #EC9E03;
}
.about-text > p {
  padding-left: 15px;
  font-family: "Segoe WP", sans-serif;
  font-weight: 300;
  font-size: 29px;
  word-break: break-word;
  color: #ffffff; 
}
.about-text a:first-of-type {
  align-self: flex-end;
}
.about-anchor {
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}
.about-anchor:hover {
  color: #37ADBF;
}
.about-video {
  width: 315px;
}
.twitter-logo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 329px;
  height: 100%;
  background-color: #EC9E03;
}
.twitter-logo > figure {
  align-self: center;
  justify-self: center;
}
.twitter-logo > a {
  padding: 14px 14px 0 0;
}
.twitter-logo > a:first-of-type,
.twitter-logo > a:last-of-type {
  justify-self: flex-end;
  align-self: flex-end;
}
.twitter-messages {
  display: none;
}
.about-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 86px;
  margin-bottom: 43px;
  background-color: #DDB101;
}
.about-date > p {
  margin: 0;
}
.about-date :first-child {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 51px;
  line-height: 51px;
  letter-spacing: 1px;
  color: #ffffff;
}
.about-date :last-child {
  font-family: "Segoe UI", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #B26529;
}
.about-slider {
  width: 896px;
  margin: 0 auto 0;
}
.slider {
  width: 100%;
  height: 15px;
  border-radius: 7px;
  background: #ffffff;
  outline: none;
  opacity: 0.48;
  -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
  width: 197px;
  height: 15px;  
  border-radius: 7px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
}

/*  Services */
.services-section {
  height: 497px;
  background-image: url("../img/services-section-bg.png"); 
  box-shadow: inset 0px -3px 3px 0px rgba(0,0,0,0.75);
}
.services > h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 43px;
  line-height: 136px; 
  text-align: center; 
  color: #f5c506;
}
.services-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  width: 100%;
}
.services-pictures-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 540px;
  height: 215px;
  margin-left: 18px;
  overflow: visible;  
}
.services-desktop {
  height: 215px;
}
.services-desktop-caption {
  position: relative;
  z-index: 2;
}
.services-caption {
  position: absolute;
  top: -46px;
  left: -21px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 19px;
  background-color: #F5C506;
  color: #ffffff;
  border-radius: 50%;
}
.services-list {
  width: 362px;
  margin-top: 40px;
}
.services-list > ul > li {
  height: 56px;
  padding-left: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  word-break: break-all;
  color: #a9a9a7;
  list-style-image: url("../img/list-ellipse-marker.svg");
  list-style-position: outside;
}

/* Footer */
.footer-section {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #4C4C4C;
}
.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-logo-picture {
  position: relative;
  width: 54px;
  height: 54px;
  margin: 0;
}
.footer-logo-picture > img {
  width: 54px;
  height: 54px;  
}
.foot-pic-1 {
  position: absolute;
  z-index: 2;
}
.foot-pic-2 {
  z-index: 4;
}
.footer-logo > h5 {
  margin: 0;
  font-family: "Lucida Sans", sans-serif;
  font-size: 29px;
  font-style: italic;
  color: #ffffff;
}

/* Media Query for mobile version (640px and lower width display) */
@media screen and (max-width: 640px) {
  
  /* General */
  .outer-wrapper {
    max-width: 640px;
    min-width: 639px;
    margin: 0 auto; 
  }
  .inner-wrapper {
    max-width: 640px;
    min-width: 639px;
    margin: 0 auto;
  }
  .next-buttons { 
    display: none;
  }

  /* Header */
  .header-section {
    height: 388px;
    box-shadow: none;
    background-image: none;
  }
  .header-section > .inner-wrapper {
    width: 640px;
  }
  .header {
    margin-bottom: 0;
  }

  /* Logo */
  .logo-section {
    justify-content: center;
    width: 186px;
    height: 62px;
    margin-top: 0;
    background-image: linear-gradient(0deg, #3F3F3D 0%, #282826 100%);
  }
  .logo-picture {
    width: 39px;
    height: 39px;
  }
  .logo-picture > img {
    width: 39px;
    height: 39px; 
  }
  .logo-section > h1 {
    margin: 9px 0 0 0px;
    font-size: 19px;
  }

  /* Navigation */
  .nav-bar {
    width: 454px;
    height: 62px;
    box-shadow: none;
  }
  .nav-bar > ul {
    height: 62px;
  }
  .nav-bar ul li > a {
    font-size: 19px;
  }
  /* Video section */
  .video-text {
    display: none;
  }
  .video-section {
    margin: 0; 
  }
  .video-block {
    width: 640px;
  }
  .video-block > video {
    object-fit: cover;
  }

  /* Options */  
  .options-section {
    height: 165px;
  }
  .options {
    width: 100%;
    height: 165px;
  }
  .options-pic {
    width: 89px;
    height: 61px;
  }
  .options p {
    font-size: 23px;
  }
  .options > div {
    border-left: none;
  }
  .options > div:last-of-type {
    border-right: none;
  }
  
  /* About */
  .about-section {
    height: 485px;
    background-image: none; 
    box-shadow: none;
  }
  .about > h3,
  .twitter-logo > .about-anchor,
  .about-date,
  .about-slider {
    display: none;
  }
  .about-wrapper {
    flex-wrap: wrap;  
    height: 252px;  
  }
  .about-text-video {
    display: flex;
    align-items: center;
  }
  .about-text {
    width: 299px;
    height: 232px;
    margin: 9px 0 9px 9px;
    padding: 0;
  }
  .about-text > p {
    padding: 10px;
  }
  .about-text > .about-anchor {
    padding: 0 10px 10px 0;
  }
  .about-video  {
    object-fit: cover;
    margin: 9px 0 9px 9px;
  }
  .about-twitter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 640px;
    height: 235px;
    background-color: #F5C507;
  }
  .about-twitter > div {
    width: 50%;
  }
  .twitter-logo {
    flex-direction: row;
    justify-content: center;
    height: 235px;
    background: none;
  }
  .twitter-logo > figure {
    justify-self: center;
    width: 158px;
    height: 133px;
  }
  .twitter-messages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 235px;
  }
  .twitter-message-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    width: 284px;
    height: 42px;
    border-radius: 12px;
    position: relative;
  }
  .twitter-message-item::after {
    content: "";
    position: absolute;
    left: -9px;
    top: 40%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 9px solid #fff;
  }
  .twitter-message-item:nth-of-type(2) {
    background-color: rgba(255,255,255,0.7);
  }
  .twitter-message-item:nth-of-type(2)::after{
    border-right-color: rgba(255,255,255,0.7);
  }
  .twitter-message-item:nth-of-type(3) {
    background-color: rgba(255,255,255,0.6);
  }
  .twitter-message-item:nth-of-type(3)::after{
    border-right-color: rgba(255,255,255,0.6);
  }
  .twitter-message-item > p {
    margin-left: 19px;
    font-family: "Arial";
    font-size: 13px;
    color: #8f8e8e;
  }
  .twitter-message-submit {
    align-self: center;
    display: flex;
    width: 270px;
    height: 29px;
    border-style: none;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: none;
  }
  .twit-input {
    flex-grow: 3;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: none;
  }
  .twit-submit {
    flex-grow: 1;
    font-family: "Arial";
    font-size: 15px;
    color: #ffffff;
    background: #E09F1D;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: none;
  }
  .twit-submit:hover {
    background: #37ADBF;
  }

  /*  Services */
  .services-section {
    height: 466px;
  }
  .services > h4 {
    font-size: 39px;
    letter-spacing: 1px;
    line-height: 156px;
  }
  .services-wrapper {
    justify-content: center;
  }
  .services-list {
    display: none;
  }

  /* Footer */
  .footer-section {
    height: 43px;
  }
  .footer-logo {
    padding-left: 65px;
  }
  .footer-logo-picture {
    width: 31px;
    height: 31px;
  }
  .footer-logo-picture > img {
    width: 31px;
    height: 31px;
  }
  .footer-logo > h5 {
    font-size: 17px;
  }

}